<div class="about-us-container">
  <img src="assets/images/theatre.png" alt="About Us" class="about-image">
  <p class="about-text">
    Bem-vindo à nossa plataforma Movie Explorer, onde a magia do cinema ganha vida! Se você é um aficionado por filmes e
    séries ou apenas um entusiasta casual, você veio ao lugar certo para embarcar em uma jornada emocionante através do
    mundo cinematográfico.
    <br><br>
    Com acesso à nossa vasta biblioteca de títulos, você pode explorar uma ampla gama de opções. Desde clássicos
    atemporais até os lançamentos mais recentes, nossa plataforma oferece informações detalhadas sobre filmes e séries
    de todos os gêneros. Quer se trate de ação, comédia, romance, ficção científica ou drama, você encontrará algo que
    se adapte ao seu gosto.
    <br><br>
    Nossa ferramenta de pesquisa intuitiva permite que você mergulhe fundo na filmografia. Simplesmente insira o título
    do filme ou série desejado e obtenha resultados precisos em um instante. Cada resultado exibe detalhes essenciais,
    incluindo o ano de lançamento, elenco principal, diretor, gênero e uma sinopse envolvente, fornecendo uma visão
    completa da obra.
  </p>
  <div class="image-row">
    <img src="assets/images/movie.png" alt="Image 1" class="small-image">
    <img src="assets/images/clapperboard.png" alt="Image 2" class="small-image">
  </div>
</div>