<footer class="footer">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p class="footer-text">© {{currentYear}} Todos os direitos reservados.</p>
      </div>
      <div class="d-flex">
        <i class="bi bi-facebook social-icon"></i>
        <i class="bi bi-twitter social-icon"></i>
        <i class="bi bi-instagram social-icon"></i>
        <i class="bi bi-linkedin social-icon"></i>
        <i class="bi bi-github social-icon"></i>
      </div>
    </div>
  </div>
</footer>