<div class="container">
  <div class="search-header d-flex align-items-center text-center justify-content-center">
    <img src="assets/images/popcorn.png" alt="Popcorn Icon" class="search-icon">
    <h1 class="text-center m-0">Movie Explorer</h1>
  </div>
  <div class="mb-4 text-center">
    <h2>Pesquise por filmes e séries</h2>
  </div>
  <div class="search-form d-flex justify-content-between align-items-center">
    <input
      type="text"
      class="form-control mr-3 mb-2"
      placeholder="Digite o título da sua busca"
      [(ngModel)]="searchQuery"
    >
    <button class="btn btn-primary mb-2" (click)="searchMovies()">Pesquisar</button>
  </div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
  <button class="btn btn-secondary mt-3" (click)="clearResults()">Limpar</button>
  <div class="search-results mt-4">
    <div class="row">
      <div *ngFor="let movie of searchResults" class="movie-card">
        <img src="{{ movie.Poster }}" class="movie-poster">
        <div class="movie-details">
          <h3>{{ movie.Title }}</h3>
          <p><strong>Ano:</strong> {{ movie.Year }}</p>
          <p><strong>Diretor:</strong> {{ movie.Director }}</p>
          <p><strong>Elenco:</strong> {{ movie.Actors }}</p>
          <p><strong>Gênero:</strong> {{ movie.Genre }}</p> 
          <p><strong>Sinopse:</strong> {{ movie.Plot }}</p>
          <p><strong>País:</strong> {{ movie.Country }}</p> 
          <p><strong>Tipo:</strong> {{ movie.Type }}</p>
          <p><strong>Tempo de duração:</strong> {{ movie.Runtime }}</p>
          <button type="button" class="btn btn-warning" (click)="toggleFavorite(movie)">
            <ng-container *ngIf="isFavorite(movie); else favorite">
              <i class="bi bi-heart"></i> Adicionar aos favoritos
            </ng-container>
            <ng-template #favorite>
              <i class="bi bi-heart-fill"></i> Remover dos favoritos
            </ng-template>
          </button>                  
        </div>
      </div>
    </div>
  </div>
</div>