@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --primary-color: #007bff;
  --secondary-color: #ababab;
  --background-color: #e9e9e9;
  --font-color: #333333;
  --white-color: #ffffff;
  --black-color: #000000;
  
  --main-font: 'Verdana';
  --heading-font: 'Helvetica', sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--font-color);
}

h1, h2, h3 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}